<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我与小陆一起走过的日子</title>
    <link rel="icon" href="@Url.Content("~/Content/Images/animated_favicon1.gif")" type="image/gif">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
